In [3]:
import pandas as pd
import os
import altair as alt


# Create a new data transformer that stores the files in a directory
def json_dir(data, data_dir='altairdata'):
    os.makedirs(data_dir, exist_ok=True)
    return pipe(data, alt.to_json(filename=data_dir + '/{prefix}-{hash}.{extension}') )

# Register and enable the new transformer
alt.data_transformers.register('json_dir', json_dir)
alt.data_transformers.enable('json_dir')

# Handle large data sets (default shows only 5000)
# See here: https://altair-viz.github.io/user_guide/data_transformers.html
alt.data_transformers.disable_max_rows()

alt.renderers.enable('jupyterlab')

RendererRegistry.enable('jupyterlab')

In [4]:
path = '../data/GeoCoded_China_Data_Merged_Files/all_flow_classes.csv'

In [9]:
df = pd.read_csv(path)
df.head(5)

,project_id,project_location_id,precision_code,geoname_id,place_name,latitude,longitude,location_type_code,location_type_name,gazetteer_adm_code,...,loan_type,interest_rate,maturity,grace_period,grant_element,location_details,contacts,source_triangulation,field_completeness,round_coded
0,1,1_2377450,1,2377450,Nouakchott,18.08581,-15.97850,PPLC,capital of a political entity,6295630|6255146|MR|NKC|2377450,...,NaN,NaN,NaN,NaN,NaN,NaN,"Zhang Xun, ; Cheikh Ould Horma,",3,6,ChinatoAfrica
1,1,1_2376719,1,2376719,Sélibaby,15.15846,-12.18430,PPLA,seat of a first-order administrative division,6295630|6255146|MR|10|2376719,...,NaN,NaN,NaN,NaN,NaN,NaN,"Zhang Xun, ; Cheikh Ould Horma,",3,6,ChinatoAfrica
2,1,1_2378538,1,2378538,Kiffa,16.61659,-11.40453,PPLA,seat of a first-order administrative division,6295630|6255146|MR|03|2378538,...,NaN,NaN,NaN,NaN,NaN,NaN,"Zhang Xun, ; Cheikh Ould Horma,",3,6,ChinatoAfrica
3,1,1_2378080,6,2378080,Mauritania,NaN,NaN,PCLI,independent political entity,6295630|6255146|MR,...,NaN,NaN,NaN,NaN,NaN,NaN,"Zhang Xun, ; Cheikh Ould Horma,",3,6,ChinatoAfrica
4,3,3_2377450,1,2377450,Nouakchott,18.08581,-15.97850,PPLC,capital of a political entity,6295630|6255146|MR|NKC|2377450,...,Concessional,2.0,20.0,5.0,54.08,Nouakchott,"Zhai Jun, ; Zhang Xun, ; Mohamed Ould Abdel Az...",8,8,ChinatoAfrica

In [10]:
df.shape

(6190, 78)

In [11]:
df.info

<bound method DataFrame.info of       project_id project_location_id  precision_code  geoname_id  \
0              1           1_2377450               1     2377450
1              1           1_2376719               1     2376719
2              1           1_2378538               1     2378538
3              1           1_2378080               6     2378080
4              3           3_2377450               1     2377450
...          ...                 ...             ...         ...
6185       48940        48940_927384               8      927384
6186       49081       49081_7521311               4     7521311
6187       49081       49081_1721906               1     1721906
6188       49081       49081_1715348               1     1715348
6189       49081       49081_1694008               8     1694008

                   place_name  latitude  longitude location_type_code  \
0                  Nouakchott  18.08581  -15.97850               PPLC
1                    Sélibaby  15.15846  -12.18430               PPLA
2                       Kiffa  16.61659  -11.40453               PPLA
3                  Mauritania       NaN        NaN               PCLI
4                  Nouakchott  18.08581  -15.97850               PPLC
...                       ...       ...        ...                ...
6185                   Malawi       NaN        NaN               PCLI
6186  National Capital Region  14.57775  121.04599               ADM1
6187          Cabanatuan City  15.48586  120.96648                PPL
6188               Davao City   7.07306  125.61278               PPLA
6189              Philippines       NaN        NaN               PCLI

                                 location_type_name  \
0                     capital of a political entity
1     seat of a first-order administrative division
2     seat of a first-order administrative division
3                      independent political entity
4                     capital of a political entity
...                                             ...
6185                   independent political entity
6186            first-order administrative division
6187                                populated place
6188  seat of a first-order administrative division
6189                   independent political entity

                         gazetteer_adm_code  ...     loan_type  interest_rate  \
0            6295630|6255146|MR|NKC|2377450  ...           NaN            NaN
1             6295630|6255146|MR|10|2376719  ...           NaN            NaN
2             6295630|6255146|MR|03|2378538  ...           NaN            NaN
3                        6295630|6255146|MR  ...           NaN            NaN
4            6295630|6255146|MR|NKC|2377450  ...  Concessional            2.0
...                                     ...  ...           ...            ...
6185                     6295630|6255146|MW  ...           NaN            NaN
6186                 6295630|6255147|PH|NCR  ...           NaN            NaN
6187  6295630|6255147|PH|03|1697473|1721906  ...           NaN            NaN
6188          6295630|6255147|PH|11|1715348  ...           NaN            NaN
6189                     6295630|6255147|PH  ...           NaN            NaN

      maturity grace_period grant_element location_details  \
0          NaN          NaN           NaN              NaN
1          NaN          NaN           NaN              NaN
2          NaN          NaN           NaN              NaN
3          NaN          NaN           NaN              NaN
4         20.0          5.0         54.08       Nouakchott
...        ...          ...           ...              ...
6185       NaN          NaN           NaN              NaN
6186       NaN          NaN           NaN              NaN
6187       NaN          NaN           NaN              NaN
6188       NaN          NaN           NaN              NaN
6189       NaN          NaN           NaN              NaN

                                               contacts source_triangulation  \
0                      Zhang Xun, ; Cheikh Ould Horma,                     3
1                      Zhang Xun, ; Cheikh Ould Horma,                     3
2                      Zhang Xun, ; Cheikh Ould Horma,                     3
3                      Zhang Xun, ; Cheikh Ould Horma,                     3
4     Zhai Jun, ; Zhang Xun, ; Mohamed Ould Abdel Az...                    8
...                                                 ...                  ...
6185                                                NaN                    5
6186                                                NaN                    6
6187                                                NaN                    6
6188                                                NaN                    6
6189                                                NaN                    6

     field_completeness      round_coded
0                     6    ChinatoAfrica
1                     6    ChinatoAfrica
2                     6    ChinatoAfrica
3                     6    ChinatoAfrica
4                     8    ChinatoAfrica
...                 ...              ...
6185                  8  AdditionalCoded
6186                  7  AdditionalCoded
6187                  7  AdditionalCoded
6188                  7  AdditionalCoded
6189                  7  AdditionalCoded

[6190 rows x 78 columns]>

In [12]:
df.describe()

,project_id,precision_code,geoname_id,latitude,longitude,location_class,geographic_exactness,ad_sector_codes,ad_purpose_codes,ad_purpose_names,...,exchange_rates_used,usd_defl_2014,usd_current,recipient_count,interest_rate,maturity,grace_period,grant_element,source_triangulation,field_completeness
count,6190.000000,6190.000000,6.190000e+03,4564.000000,4564.000000,6190.000000,6190.000000,6190.000000,0.0,0.0,...,3970.000000,3.970000e+03,3.970000e+03,6190.000000,817.000000,912.000000,731.000000,735.000000,6190.000000,6190.000000
mean,27381.663813,3.349111,3.437162e+06,6.232324,38.490065,1.678029,1.329564,245.495961,NaN,NaN,...,101.961566,2.256462e+08,1.840694e+08,1.084653,2.911542,16.299708,5.887141,45.205007,4.778514,7.147819
std,15061.478556,2.618544,3.698855e+06,17.632354,54.980704,0.775213,0.470093,175.392636,NaN,NaN,...,858.735023,7.785626e+08,6.566215e+08,0.613001,2.036570,4.890367,2.870478,16.454870,3.317169,1.164714
min,1.000000,1.000000,4.951800e+04,-46.413300,-175.337660,1.000000,1.000000,110.000000,NaN,NaN,...,0.682675,1.760000e+02,1.400000e+02,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,2.000000
25%,19194.750000,1.000000,9.326920e+05,-6.163940,13.234320,1.000000,1.000000,120.000000,NaN,NaN,...,1.000000,2.746734e+06,1.815490e+06,1.000000,2.000000,13.000000,5.000000,33.050000,3.000000,6.000000
50%,33805.500000,3.000000,2.134431e+06,6.344780,33.785340,2.000000,1.000000,210.000000,NaN,NaN,...,1.000000,4.408599e+07,2.824316e+07,1.000000,2.000000,15.000000,5.000000,49.300000,4.000000,7.000000
75%,38544.500000,6.000000,3.677876e+06,14.695543,74.864480,2.000000,2.000000,230.000000,NaN,NaN,...,6.770269,1.454120e+08,1.148500e+08,1.000000,3.000000,20.000000,7.000000,54.080000,7.000000,8.000000
max,49081.000000,8.000000,1.177616e+07,56.886150,179.478080,4.000000,2.000000,998.000000,NaN,NaN,...,18612.916670,2.035648e+10,1.500000e+10,10.000000,14.000000,40.000000,24.000000,94.930000,16.000000,9.000000

In [14]:
df.columns

Index(['project_id', 'project_location_id', 'precision_code', 'geoname_id',
       'place_name', 'latitude', 'longitude', 'location_type_code',
       'location_type_name', 'gazetteer_adm_code', 'gazetteer_adm_name',
       'location_class', 'geographic_exactness', 'project_title',
       'start_actual_isodate', 'end_actual_isodate', 'donors_iso3',
       'recipients', 'recipients_iso3', 'ad_sector_codes', 'ad_sector_names',
       'ad_purpose_codes', 'ad_purpose_names', 'status',
       'transactions_start_year', 'transactions_end_year',
       'project_total_commitments', 'total_disbursements',
       'even_split_commitments', 'even_split_disbursements',
       'recommended_for_research', 'umbrella', 'year', 'year_uncertain',
       'crs_sector_code', 'crs_sector_name', 'flow', 'all_recipients',
       'recipient_condensed', 'sources_count', 'funding_agency',
       'cofinancing_agency', 'implementing_agency', 'recipient_agencies',
       'recipient_agencies_count', 'flow_class', 'intent', 'amount',
       'currency', 'deflators_used', 'exchange_rates_used', 'usd_defl_2014',
       'usd_current', 'start_actual', 'start_planned', 'end_actual',
       'end_planned', 'recipient_count', 'recipient_cow_code',
       'recipient_oecd_code', 'recipient_oecd_name', 'recipient_iso3',
       'recipient_iso2', 'recipient_un_code', 'recipient_imf_code',
       'line_of_credit', 'is_cofinanced', 'is_ground_truthing', 'loan_type',
       'interest_rate', 'maturity', 'grace_period', 'grant_element',
       'location_details', 'contacts', 'source_triangulation',
       'field_completeness', 'round_coded'],
      dtype='object')